*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden; 
}

/* -----navbar----*/

.nav-extended {
    background: linear-gradient(to right, #a06529f7, #da3434);
}

/*----home page---*/

.slogan{
    color: maroon;
    font-style: italic;
}


.btn-search{
    color: #26a69a;
}

.btn-home{
    margin: 5px;
}
/* 
.card-header{
    width: 100%;
    padding: 20px;
    height: 100%;
}


.card-header img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-hero{
    margin: 50px auto;
}


.container{
    width: 90%;
    margin: 50px auto;
}

.heading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
} 

.card-row{
    margin-bottom: 50px;
}

 .card{
    width: 100%;
    background-color: aqua;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.9s;
} 

.card-header{
    text-align: center;
    padding: 50px 10px;
    background: rgb(189 47 47 / 71%);
    color: #ffff;
}

.card-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
} */

/*---------login page ----------*/
.card-login{
    background-color: #e5d9914d !important;
}


/*------register page -----*/

.card-register{
    background-color: #ffffff !important;
}

.input-row{
    margin-top: 9.8%;
}

.main-heading{
    margin-top: 5%;
    margin-bottom: -5%;
}

/* ------- footer ------*/
.page-footer{
    background: linear-gradient(to right, #a06529f7, #da3434);
    left: 0;
    bottom: 0;
    width: 100vw;
}

/*----media screen ---*/

@media screen and (max-width:768px){
    .container{
        width: 100%;
    }

    .heading{
        padding: 20px;
        font-size: 20px;
    }
}

@media (min-width:1024px) and (max-width:1024px) {
    .main-heading {
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .input-row{
        margin-bottom: 11%;
    }
}



/*----------------------Test*/
