*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden; 
}

/* -----navbar----*/

.nav-extended {
    background: linear-gradient(to right, #a06529f7, #da3434);
}

/*----home page---*/

.slogan{
    color: maroon;
    font-style: italic;
}


.btn-search{
    color: #26a69a;
}

.btn-home{
    margin: 5px;
}


/* ---images on home page -----*/
.card-title{
    padding: 5px;
    margin-bottom: -2%;
}

.card-image{
    background-color: brown;
}

.image-head{
    height: 350px;
    padding: 0;
}

.image-head img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-head-sub img{
    border-radius: 20px;
}
/*---------login page ----------*/
.card-login{
    background-color: #e5d9914d !important;
}


/*------register page -----*/

.card-register{
    background-color: #ffffff !important;
}

.input-row{
    margin-top: 9.8%;
}

.main-heading{
    margin-top: 5%;
    margin-bottom: -5%;
}

/* -------view/delete(admin only page) ------*/

.job-type{
    font-weight: 600;
    font-style: italic;
}

.btn-admin{
    margin: 5px;
}

/* ------- footer ------*/
.page-footer{
    background: linear-gradient(to right, #a06529f7, #da3434);
    left: 0;
    bottom: 0;
    width: 100vw;
}

/*----media screen ---*/

@media screen and (max-width:768px){
    .container{
        width: 100%;
    }

    .heading{
        padding: 20px;
        font-size: 20px;
    }
}

@media (min-width:1024px) and (max-width:1024px) {
    .main-heading {
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .input-row{
        margin-bottom: 11%;
    }
}



/*----------------------Test*/
