{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">{{ username.capitalize() }}'s Account</h3>

    {% for service in services %}

        {% if session["user"] == service.added_by %}
            
        <div class="row">
            <div class="col s12col m8 offset-l2 col l8">
                <div class="container">
                    <div class="row card-row">
                        <div class="card">
                            <div class="card-header">
                                <h3>{{ service.job_type}} </h3>
                                <div class="card-image">
                                    <img src="{{ service.img_url }}" class="hero-image">
                                </div>
                            </div>
                            <div class="card-body">
                           
                                <a class="waves-effect waves-light white black-text btn modal-trigger"
                                    href="{{ url_for('edit_job', job_id=service._id) }}">Edit
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="waves-effect waves-light white black-text btn modal-trigger"
                                    href="{{ url_for('delete_job', job_id=service._id) }}" onclick="warning();">Delete
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    {% endfor %}


{% endblock %}