{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Welcome to Admin portal, <small class="slogan">View and delete job from the page</small></h3>

        <div class="row center-align">
          {% for job in jobs %}
              <div class="col s12 m6 l4">
                  <div class="card  red lighten-2 center-align">
                    <div class="card-title">
                      <span class="centre-align job-type">{{ job.job_type }}</span>
                    </div>
                    <div class="card-content white-text">
                      <div class="image-head image-head-sub">
                        <img src="{{ job.img_url }}" alt="">
                      </div>
                    </div>
                    <div class="card-action">
                      <a class="waves-effect waves-light white black-text btn modal-trigger btn-admin"
                      href="#job_modal">View
                      <i class="fas fa-eye"></i>
                      <a class="waves-effect waves-light white black-text btn modal-trigger btn-admin"
                      href="#job_modal1">Delete
                      <i class="fas fa-mouse"></i></a>
                    </a>
                    </div>
                  </div>
                </div>
              <!------Modal--- -->
              <div id="job_modal" class="modal">
                <div class="modal-content">
                  <h4 class="center-align">Our details</h4>
                  <p>Company Name : {{ job.company_name }} <br>
                    Callout Cost : {{ job.cost }} <br>
                    Contact no. : {{ job.phone }} <br>
                    Email : {{ job.email }}<br>
                    Added by : {{ job.added_by }} <br><br><br>
                    {{ job.desc }}
                  </p>
                </div>
                <div class="modal-footer">
                  <a href="#" class="modal-close waves-effect waves-light grey black-text btn">Cancel</a>
                </div>
              </div>
              <div id="job_modal1" class="modal">
                <div class="modal-content">
                  <h4 class="center-align">Our details</h4>
                  <p>Are you sure you want to delete the job ?
                      <small>It cannot be recover once deleted</small>            
                 </p>
                </div>
                <div class="modal-footer">
                  <a href="{{ url_for('delete_job', job_id=job._id) }}" class="modal-close waves-effect waves-light grey black-text btn">Conform</a>
                  <a href="#" class="modal-close waves-effect waves-light grey black-text btn">Cancel</a>
                </div>
              </div>
        {% endfor %}
        </div>
{% endblock %}

