{% extends "base.html" %}
{% block content %}

    <h3 class="orange center-align">Edit Job - {{ job.job_type  }}</h3>

        <div class="row card-panel light-grey">
            <form class="col s12 new-form" method="POST" action="{{ url_for('edit_job', job_id=job._id) }}">
                <!----image----->
                <div class="row col s12 col m8 offset-l2 col l8">
                    <div class="input-field col s12">
                        <i class="far fa-images prefix"></i>
                        <input id="img_url" name="img_url"  value="{{ job.image }}" type="text" class="validate" required>
                        <label for="img_url">Image URL</label>
                        <small class="center-align red-text" id="error_img_url"></small>
                    </div>
                </div>
                <!---job type---->
                <div class="row col s12 col m8 offset-l2 col l8">
                    <div class="input-field col s12">
                        <i class="fas fa-briefcase prefix"></i>
                        <input id="job_type" value="{{ job.job_type }}" name="job_type" minlength="5"
                            maxlength="20" type="text" class="validate" required>
                        <label for="job_type">Job type</label>
                        <small class="center-align red-text" id="error_job_type"></small>
                    </div>
                </div>
                <!--company name-->
                <div class="row col s12 col m8 offset-l2 col l8">
                    <div class="input-field col s12">
                        <i class="fas fa-building prefix"></i>
                        <input id="company_name"  value="{{ job.company_name }}" name="company_name" minlength="5"
                            maxlength="20" type="text" class="validate" required>
                        <label for="company_name">Company Name</label>
                        <small class="center-align red-text" id="error_company_name"></small>
                    </div>
                </div>
                <!--cost-->
                <div class="row col s12 col m8 offset-l2 col l8">
                    <div class="input-field col col s12">
                        <i class="fas fa-pound-sign prefix"></i>
                        <input id="cost"  value="{{ job.cost }}" name="cost" type="tel"
                             class="validate" required>
                        <label for="cost">Cost p/h</label>
                        <small class="center-align red-text" id="error_cost"></small>
                    </div>
                </div>
                <!--contact no-->
                <div class="row col s12 col m8 offset-l2 col l8">
                    <div class="input-field col s12">
                        <i class="fas fa-phone-alt prefix"></i>
                        <input id="phone" value="{{ job.phone }}"name="phone" type="tel"
                           pattern="[0-9]{11}" class="validate" required>
                        <label for="phone">Contact no</label>
                        <small class="center-align red-text" id="error_phone"></small>
                    </div>
                </div>
                <!----email---->
                <div class="row col s12 col m8 offset-l2 col l8">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix"></i>
                        <input id="email"  value="{{ job.email }}" type="email" name="email" class="validate"
                             required>
                        <label for="email">Email</label>
                        <small class="center-align red-text" id="error_email"></small>
                    </div>
                </div>
                <!--description--->
                <div class="row col s12 col m8 offset-l2 col l8">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="descc" name="desc"
                            minlength="50" maxlength="250" class="materialize-textarea validate"
                            required>{{ job.description }}"
                        </textarea>
                        <label for="des">description</label>
                        <small class="center-align red-text" id="error_desc"></small>
                    </div>
                </div>
                  <!----Edit button--->
                <div class="col s12 center-align">
                    <a href="{{ url_for('account', username=session['user']) }}" class="waves-effect waves-light btn red">Cancel
                        <i class="fas fa-window-close"></i>
                    </a>
                    <button class="btn waves-effect waves-light center-align" id="submit"
                        type="submit">Update <i class="fas fa-upload"></i>
                    </button>
                </div>
            </form>
            </div>
{% endblock %}

