{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Welcome to OSS Limited, <small class="slogan">one platform for all solutions</small></h3>

    <div class="row card-panel white ">
      <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
          <div class="input-field col s12 m8">
            <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
            <input type="text" name="query" id="query" minlength="3" class="validate" required>
            <label for="query">Search job here</label>
          </div>
          <div class="col s12 m4">
            <a href="{{ url_for('home') }}" class="red btn btn-home btn-reset text-shadow">Reset</a>
            <button type="submit" class=" btn btn-search text-shadow">
              <i class="fas fa-search left"></i> Search
            </button>
          </div>
        </div>
      </form>
    </div>

      <div class="row">
        {% for job in jobs %}
        <div class="col s12 m6 xl4">
          <div class="container">
            <div class="row card-row">
              <div class="card">
                <div class="card-header">
                  <div class="card-image">
                    <img src="{{ job.img_url }}" alt="job-image" class="hero-image">
                  </div>
                </div>
                <div class="card-body">
                  <a class="waves-effect waves-light white black-text btn modal-trigger"
                    href="#job_modal{{ job._id }}">{{ job.job_type }}
                    <i class="fas fa-mouse"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------Modal--- -->
        <div id="job_modal{{ job._id }}" class="modal">
          <div class="modal-content">
            <h4 class="center-align">Our details</h4>
            <p>Company Name : {{ job.company_name }} <br>
              Callout Cost : {{ job.cost }} <br>
              Contact no. :  {{ job.phone }} <br>
              Email : {{ job.email }}<br>
              Added by : {{ job.added_by }} <br><br><br>
              {{ job.desc }}                
           </p>
          </div>
          <div class="modal-footer">
            <a class="waves-effect waves-light grey black-text btn">Contact us!</a>
            <a href="#!" class="modal-close waves-effect waves-light grey black-text btn">Cancel</a>
          </div>
        </div>
        {% endfor %}
      </div>

{% endblock %}

