{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Welcome to OSS Limited, <small class="slogan">one platform for all solutions</small></h3>

      <div class="row">
        {% for job in jobs %}
        <div class="col s12 m6 xl4">
          <div class="container">
            <div class="row card-row">
              <div class="card">
                <div class="card-header">
                  <div class="card-image">
                    <img src="{{ job.image }}" class="hero-image">
                  </div>
                </div>
                <div class="card-body">
                  <a class="waves-effect waves-light white black-text btn modal-trigger"
                    href="#job_modal">{{ job.job_type}}
                    <i class="fas fa-mouse"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------Modal--- -->
        <div id="job_modal" class="modal">
          <div class="modal-content">
            <h4 class="center-align">Our details</h4>
            <p>Company Name : {{ job.company_name }} <br>
              Callout Cost : {{ job.charge }} <br>
              Contact no. :  {{ job.contact_no }} <br>
              Email : {{ job.email }}<br>
              Added by : {{ job.added_by }} <br><br><br>
              {{ job.description}}                
           </p>
          </div>
          <div class="modal-footer">
            <a class="waves-effect waves-light grey black-text btn">Contact us!</a>
            <a href="#!" class="modal-close waves-effect waves-light grey black-text btn">Cancel</a>
          </div>
        </div>
        {% endfor %}
      </div>

{% endblock %}

