{% extends "base.html" %}
{% block content %}
    <h3 class="center-align main-heading">Register Here</h3>
    <div class="row input-row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel card-register">
                <!--------username------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-users prefix light-green-text text-darken-2"></i>
                        <input id="username" name="username" type="text"
                            required class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <!--------password------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix light-blue-green-text text-darken-2"></i>
                        <input id="password" name="password" type="password"
                            class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--------button------->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-green">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
            <!----login option for those users who alraedy registered-->
            <div class="row">
                <div class="col s12">
                    <p class="center-align text-info">
                        Already Registered?
                        <a href="{{ url_for('login') }}" class="light-green-text">Login Here</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}